<section class="post">
  @if (post$ | async; as post) {
    <div class="post-content">
      <div [routerLink]="['/']" class="post-navigator">
        <i class="pi pi-arrow-left"></i>
      </div>
      <h2>{{ post.attributes.title }}</h2>
      @if (post.attributes.description) {
        <p>{{ post.attributes.description }}</p>
      }
      <app-author
        [name]="post.attributes.author.data.attributes.fullName"
        [avatar]="post.attributes.author.data.attributes.avatar.data.attributes.url"
      ></app-author>
      <span>{{ post.attributes.date }}</span>
      @if (post.attributes.images) {
        <app-gallery [images]="post.attributes.images"></app-gallery>
      }
    </div>
    <div class="post-scroller">
      @if (post.attributes.comment) {
        <app-comment [comment]="post.attributes.comment"></app-comment>
      }
    </div>
  }
</section>
