<section class="post">
  @if (post$ | async; as post) {
    <div class="post-content">
      <app-button
        label="Posts"
        icon="pi-arrow-left"
        type="primary"
        [routerLink]="['/']"
      ></app-button>
      <h2>{{ post.attributes.title }}</h2>
      @if (post.attributes.description) {
        <p>{{ post.attributes.description }}</p>
      }
      <app-author
        [name]="post.attributes.author.data.attributes.fullName"
        [avatar]="post.attributes.author.data.attributes.avatar.data.attributes.url"
      ></app-author>
      <span>{{ post.attributes.date }}</span>
      @if (post.attributes.images) {
        <app-gallery [images]="post.attributes.images"></app-gallery>
      }
    </div>
    <div class="post-scroller">
      @if (post.attributes.comment) {
        <app-expandable-content label="comment">
          <p style="font-weight: 300">{{ post.attributes.comment }}</p>
        </app-expandable-content>
      }

      @if (post.attributes.songs && post.attributes.songs.length > 0) {
        <app-expandable-content label="songs">
          @for (song of post.attributes.songs; track song) {
            <app-song-frame [song]="song"></app-song-frame>
          }
        </app-expandable-content>
      }
    </div>
  }
</section>
