:host {
  @media screen and (min-width: 1536px) {
    display: flex;
    justify-content: center;
  }
}

.post {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    padding: 1rem;
  }

  @media screen and (min-width: 1024px) {
    padding: 2rem 4rem;
  }

  @media screen and (min-width: 1280px) {
    padding: 2rem 8rem;
  }

  @media screen and (min-width: 1536px) {
    width: 85rem;
    padding: 2rem 0;
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    background: var(--secondary);
    border-radius: 0;
    padding: 2.5rem;
    gap: 1rem;

    @media screen and (min-width: 768px) {
      border-radius: 1rem 0rem 0 1rem;
    }

    h2 {
      font-size: 1.6rem;
      font-weight: 400;
      @media screen and (min-width: 1024px) {
        font-size: 2.25rem;
      }
    }

    p {
      font-weight: 300;
    }
  }

  &-scroller {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    position: static;
    height: fit-content;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0;
    background: var(--secondary);
    border-width: 0 0 0 2px;
    border-style: solid;
    border-color: var(--accent);

    @media screen and (min-width: 768px) {
      min-width: 17.5rem;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      border-radius: 0 1rem 1rem 0;
    }

    @media screen and (min-width: 1024px) {
      padding: 1.25rem 1.5rem;
    }
  }
}
