<div #gallery class="gallery">
  @for (image of images().data; track image; let index = $index) {
    <div class="gallery-image-container">
      <img [src]="image.attributes.url" [alt]="image.attributes.name" class="gallery-image" />
    </div>
  }
</div>

<app-button
  (click)="prev()"
  icon="pi-chevron-left"
  class="gallery-prev"
  [iconOnly]="true"
></app-button>
<app-button
  (click)="next()"
  icon="pi-chevron-right"
  class="gallery-next"
  [iconOnly]="true"
></app-button>

<nav>
  @for (image of images().data; track image.id; let index = $index) {
    <div (click)="set(index)" [class.active]="currentIndex() === index"></div>
  }
</nav>
