<header>
  <nav>
    @for (item of menuItems(); track item) {
      <a [routerLink]="item.url" routerLinkActive="active">{{ item.name | titlecase }}</a>
    }
  </nav>
  @if (!authService.isAuthorized) {
    <section class="auth-controller">
      <app-button
        redirectTo="/auth/secretCode"
        label="Login via Code"
        type="primary"
        size="large"
      />
      <!-- <app-button
        redirectTo="/auth/login"
        label="Login"
        type="primary"
        size="large"
        [disabled]="true"
      />
      <app-button redirectTo="/auth/signup" label="Sign Up" size="large" [disabled]="true" /> -->
    </section>
  }
</header>
