<section class="secretCode">
  <h3>Welcome back!</h3>
  <div class="divider"></div>
  <form [formGroup]="secretCodeForm" (ngSubmit)="submit()">
    <app-input
      name="password"
      [control]="secretCode"
      label="Secret Code"
      type="password"
      [required]="true"
      [errors]="getErrors(secretCode)"
      [showErrors]="showErrors()"
    />
    <app-button
      label="Enter"
      type="primary"
      size="large"
      [fullWidth]="true"
      [disabled]="secretCodeForm.invalid"
    />
  </form>
</section>
